
.eventPreviewCard {
    box-shadow: var(--defaultBoxShadow);
    border-radius: 2rem;
    width: 26rem;
    background-color: var(--backgroundColour);
    }
    .eventPreviewCardHeader {
        padding: 0;
        display: grid;
        grid-template-columns: 0rem 10rem 1rem 11rem 4rem;
        align-items: center;
        }
        .eventPreviewCardHeader > img {
            box-shadow: var(--defaultBoxShadow);
            border-radius: 2rem;
            height: 100%;
            width: 100%;
        }
        .eventPreviewCardHeader > p {
            padding: 0.3rem 0 0.3rem 0;
            text-align: center;
            color: var(--contrastColour);
            font-size: 115%;
        }
    .eventPreviewCardContent {
        padding: 1rem;
        text-align: center;
    }
    .eventPreviewCardFooter {
        padding: 1rem;
    }
    .eventPreviewCardDivider {
        border-width: 3px;
        
    }
    .eventPreviewCardDetails {
        display: flex;
        align-items: center;
        }
        .eventPreviewCardDetails > p {
            margin-left: 0.3rem;
        }
    .eventPreviewCardButton {
        box-shadow: var(--defaultBoxShadow);
        position: absolute;
        background-color: white;
            color: gray;
        border-radius: 50%;
        top: 0;
        right: 0;
        width: 2.75rem;
        height: 2.75rem;
        margin: 0.5rem;
        }
        .eventPreviewCardButtonChecked {
            background-color: rgb(18, 155, 18);
            color: white;
        }