<mat-card class = "eventPreviewCard" appearance="raised">
    <mat-card-header class = "eventPreviewCardHeader">
        <img mat-card-image [src]="data.image">
        <mat-divider class = "eventPreviewCardDivider"></mat-divider>
        <p>{{data.title}}</p>
        <mat-divider class = "eventPreviewCardDivider"></mat-divider>
    </mat-card-header>
    <mat-card-content class = "eventPreviewCardContent">
        <p>{{data.desc}}</p>
    </mat-card-content>
    <mat-divider class = "eventPreviewCardDivider"></mat-divider>
    <mat-card-footer class = "eventPreviewCardFooter"  fxLayout="column" fxLayoutGap="0.2rem">
        <div class = "eventPreviewCardDetails" fxLayout="row">
            <mat-icon>place</mat-icon>
            <p>{{data.location}}</p>
        </div>
        <div class = "eventPreviewCardDetails">
            <mat-icon>access_time</mat-icon>
            <p>{{data.date}}<br>{{data.time}}</p>
        </div>
        <div class = "eventPreviewCardDetails">
            <mat-icon>cake</mat-icon>
            <p>{{data.age}}</p>
        </div>
    </mat-card-footer>
    <button mat-icon-button class = "eventPreviewCardButton eventPreviewCardButtonChecked">
        <mat-icon>star</mat-icon>
    </button>
</mat-card>