
/*
#main {
    background-image: url("../geteilt/bilder/banner_temp.png");
    background-attachment: fixed;
    background-size: cover;
    height: 200vh;
}
#inneresMain {
    margin: var(--außenRand);
    display: grid;
    grid-template-columns: [angebote] 70% [neuigkeiten] 30%;
}
*/



