
/*
#main {
    background-image: url("../geteilt/bilder/community_banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 200vh;
}
#inneresMain {
    margin: var(--außenRand);
}
*/